.av_bg {
  background-image: url("../../images/marvel_heroes3.jpg");
  background-color: gray;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
