.hero_head {
    text-align: center;
    background: rgb(0, 0, 0);
    border-bottom: 3px solid rgb(80, 183, 209);
    box-shadow: 0 15px 25px rgb(80, 183, 209);
    color: rgb(255, 255, 255);
    font-family: 'Comic Neue', cursive;
    font-size: 2rem;
    margin: 0;
    padding: 20px;
}
.inner_hero_head {
    background: rgb(0, 0, 0);
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
.hero_head_info {
    background: rgb(0, 0, 0);
    font-size: 10px;
    padding: 1.5em;
}
.Hero-Container {
    background: rgba(255, 255, 255, 0.274);
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1em;
    color: rgb(0, 0, 0);
    font-family: 'Comic Neue', cursive;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vh;
    /* padding: 20px; */
    /* text-align: center; */
    top: 500px;
    width: 400px;
    padding: 0px;
    overflow-y: scroll;
  }
  .Data-Container::-webkit-scrollbar {
    display: none;
  }
  .hero_bg {
    background-attachment: fixed;
    background-color: gray;
    background-image: url("../../images/hero_mix.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
  }